.seo {
  @media (max-width: 48em) {
    margin-bottom: 17rem;
  }

  // .seo__container

  &__container.container {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;

    @media (min-width: 48.01em) {
      width: 141rem;
    }
  }

  // .seo__head

  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @media (max-width: 48em) {
      row-gap: 3rem;
    }
  }

  // .seo__heading

  &__heading {
  }

  // .seo__body

  &__body {
    display: grid;
    grid-template-columns: 31.9rem 1fr;
    gap: 2.3rem;

    @media (max-width: 48em) {
      display: flex;
      flex-direction: column;
    }
  }

  // .seo__aside

  &__aside {
    @media (max-width: 48em) {
      display: none;
    }
  }

  &__aside-inner {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  // .seo__logo-wrap

  &__logo-wrap {
    margin-bottom: -1rem;
    width: 23.2rem;
  }

  // .seo__logo

  &__logo {
    transform: scale(1.4) translate(-3rem, -2rem);
  }

  // .seo__subtitle

  &__subtitle {
    margin-bottom: -1rem;
  }

  // .seo__text

  &__text {
  }

  // .seo__actions

  &__actions {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  // .seo__content

  &__content {
    @media (min-width: 48.01em) {
      padding-top: 1rem;
    }
  }

  // .seo__paragraphs

  &__paragraphs {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    @media (max-width: 48em) {
      row-gap: 3rem;
    }
  }

  // .seo__paragraph

  &__paragraph {
    line-height: 142%;

    @media (max-width: 48em) {
      font-size: 3rem;
    }

    strong {
      font-weight: 500;
    }
  }
}
