.services {
  position: relative;
  padding-bottom: 15.2rem;

  @media (max-width: 48em) {
    margin-bottom: 18rem;
    padding-bottom: 18rem;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 248.9rem;
    background: url("../img/content/bg.webp") center top / cover no-repeat;
    mix-blend-mode: multiply;

    @media (max-width: 48em) {
      background: url("../img/content/bg-m.webp") center top / cover no-repeat;
    }
  }

  // .services__container

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 15rem;

    @media (max-width: 48em) {
      row-gap: 18rem;
    }
  }

  // .services__wrap

  &__wrap {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--c-ternary);
    border-radius: 6rem;
    background: rgba(186, 196, 214, 0.2);
    backdrop-filter: blur(2rem);
    row-gap: 4.6rem;

    @media (max-width: 48em) {
      backdrop-filter: blur(8rem);
      row-gap: 3.4rem;
    }
  }

  // .services__head

  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid var(--c-ternary);
    padding: 3rem 5.7rem 3.7rem 5.3rem;
    gap: 3.2rem;

    @media (max-width: 48em) {
      flex-direction: column;
      align-items: stretch;
      padding: 6rem 4.4rem 4.4rem 3.5rem;
      gap: 4rem;
    }
  }

  // .services__headline

  &__headline {
    display: flex;
    align-items: flex-end;
    gap: 1.7rem;

    @media (max-width: 48em) {
      align-items: center;
      gap: 3rem;
    }
  }

  // .services__heading

  &__heading {
  }

  // .services__subtitle

  &__subtitle {
    @media (min-width: 48.01em) {
      margin-bottom: 0.6rem;
    }
  }

  // .services__text

  &__text {
    max-width: 71.6rem;
    text-align: right;

    strong {
      display: block;
      font-weight: 600;
    }

    @media (min-width: 48.01em) {
      max-width: 46.4rem;

      strong {
        font-weight: 400;
      }
    }

    @media (max-width: 48em) {
      font-size: 3.2rem;
    }
  }

  // .services__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5.6rem 7rem 5.4rem;
    gap: 3.7rem 5rem;

    @media (max-width: 48em) {
      display: flex;
      flex-direction: column;
      padding: 0 3.6rem 3.6rem;
      row-gap: 4.4rem;
    }
  }

  // .services__actions

  &__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @media (min-width: 48.01em) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
      width: 100%;
      max-width: 135rem;
    }
  }
}
