.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--p-zidx-secondary);
  width: 100%;
  color: var(--c-white);
  background-color: var(--c-primary);
  transition: opacity var(--p-tr), transform var(--p-tr);

  &._is-hidden {
    opacity: 0;
    transform: translateY(-110%);
  }

  // .header__container

  &__container.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 33.6rem 1fr;
    height: 7.2rem;
    width: 184rem;
    gap: 7rem;

    @media (min-width: 1900px) {
      --container-offset: 1rem;
    }

    @media (max-width: 48em) {
      grid-template-columns: 1fr 54rem 1fr;
      height: 14rem;

      .header__nav-list {
        display: none;
      }
    }
  }

  // .header__nav

  &__nav {
    @media (min-width: 48.01em) {
      order: -1;
    }
  }

  &__hamburger,
  &__menu {
    @media (min-width: 48.01em) {
      display: none;
    }
  }

  > .header__nav,
  &__link,
  &__cta-btn {
    @media (max-width: 48em) {
      display: none;
    }
  }

  // .header__nav-list

  &__nav-list,
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    @media (max-width: 48em) {
      width: inherit;
    }
  }

  &__nav-list {
    gap: 7rem;

    @media (min-width: 1900px) {
      margin-right: -3rem;
      padding-left: 4.2rem;
    }

    @media (max-width: 48em) {
      flex-direction: column;
      align-items: stretch;
      gap: 6rem;
    }
  }

  // .header__logo-wrap

  &__logo-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33.6rem;
    transform: translate(-50%, -50%);

    @media (max-width: 48em) {
      left: 51%;
      width: 55.6rem;
    }
  }

  // .header__logo

  &__logo {
  }

  // .header__info

  &__info {
    grid-column: 3/4;
    gap: 5.6rem;
  }

  &__cta-btn {
    min-width: 20rem;
  }

  // .header__link

  &__link {
    white-space: nowrap;
    color: var(--c-quaternary);
  }

  &__tel {
    @media (max-width: 48em) {
      .tel-header {
        &__icon {
          --size: 6.2rem;

          flex: 0 0 var(--size);
          width: var(--size);
          height: var(--size);
          fill: #d2ccd526;
          stroke: var(--c-hover);
        }

        &__txt {
          display: none;
        }
      }
    }
  }
}
