.action-item {
  &._has-bg {
    .action-item {
      &__inner {
        color: var(--c-primary);
        background-color: var(--c-white);
      }

      &__icon {
        @media (max-width: 48em) {
          transform: scale(0.7);
        }
      }
    }
  }

  // .action-item__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--c-quaternary);
    border-radius: 6rem;
    padding: 3rem;
    padding-top: 2rem;
    height: 100%;
    min-height: 32.6rem;
    text-align: center;
    color: var(--c-white);
    background: rgba(70, 77, 91, 0.3);
    transition: filter var(--p-tr);
    will-change: filter;
    backdrop-filter: blur(2rem);

    @media (any-hover: hover) {
      &:hover {
        filter: drop-shadow(-4rem 4rem 10rem rgba(30, 25, 85, 0.38));
      }
    }

    @media (max-width: 48em) {
      padding-top: 0;
      min-height: 41.2rem;
      backdrop-filter: blur(8rem);
    }
  }

  // .action-item__icon

  &__icon {
    flex: 0 0 var(--size);
    margin-bottom: 1.6rem;
    width: var(--size);
    height: var(--size);

    --size: 6.1rem;

    @media (max-width: 48em) {
      margin-bottom: 1rem;

      --size: 13rem;
    }
  }

  // .action-item__heading

  &__heading.subtitle-medium {
    margin-bottom: 1.9rem;

    @media (max-width: 48em) {
      margin-bottom: 3rem;
      font-size: 3rem;
    }
  }

  // .action-item__text

  &__text {
  }
}
