.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid var(--c-accent-ternary);
  border-radius: 9rem;
  padding: 1.6rem 2.1rem;
  height: 5.5rem;
  transition: border-color var(--p-tr);

  @media (max-width: 48em) {
    border-width: 0.4rem;
    border-radius: 18rem;
    padding: 3rem 5rem;
    height: 10.6rem;
  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--c-accent);
    }
  }

  // .btn__txt

  &__txt {
    white-space: nowrap;
  }
}

.close-btn {
  display: inline-flex;
  align-items: center;
  gap: 3.4rem;

  // .close-btn__icon

  &__icon {
    --size: 4.4rem;

    flex: 0 0 var(--size);
    width: var(--size);
    height: var(--size);
  }

  // .close-btn__txt

  &__txt {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.btn-label {
  display: inline-flex;

  &._ic {
    .btn-label {
      &__inner {
        @media (max-width: 48em) {
          padding: 0;
          width: 11rem;
          height: 11rem;
        }
      }

      &__text {
        @media (max-width: 48em) {
          display: none;
        }
      }
    }
  }

  &:not(._has-bg) {
    .btn-label {
      &__text {
        font-weight: 500;
      }
      &__icon {
        @media (max-width: 48em) {
          --size: 7.2rem;
        }
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .btn-label {
          &__inner {
            border-color: #9136ff;
          }
        }
      }
    }
  }

  &._has-bg {
    .btn-label {
      &__inner {
        color: var(--c-white);
        background-color: var(--c-primary);

        @media (any-hover: hover) {
          &:hover {
            color: var(--c-primary);
            background-color: transparent;
          }
        }
      }
    }
  }

  // .btn-label__inner

  &__inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--c-primary);
    border-radius: 9rem;
    padding: 1rem 1.3rem;
    height: 5.5rem;
    transition: background-color var(--p-tr), color var(--p-tr),
      border-color var(--p-tr);
    gap: 1.8rem;

    @media (min-width: 48.01em) {
      min-width: 26rem;
    }

    @media (max-width: 48em) {
      border-radius: 18rem;
      padding: 3.6rem 5rem;
      height: 11rem;
    }
  }

  // .btn-label__icon

  &__icon {
    --size: 3.6rem;

    flex: 0 0 var(--size);
    width: var(--size);
    height: var(--size);
  }

  // .btn-label__text

  &__text {
    margin-bottom: 0.1em;
    font-weight: 500;
    white-space: nowrap;
  }
}
