.case-item {
  // .case-item__inner

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5rem;
    padding: 2.1rem 2.9rem 3.3rem;
    text-align: center;
    background-color: var(--c-secondary);
    row-gap: 3rem;

    @media (any-hover: hover) {
      &:hover {
        .case-item {
          &__image-wrap {
            filter: drop-shadow(0 6rem 10rem rgba(0, 0, 0, 0.5));
          }
        }
      }
    }

    @media (max-width: 48em) {
      border-radius: 6rem;
      padding: 4rem;
      row-gap: 4rem;
    }
  }

  &__ctrl-ellipses {
    position: absolute;
    left: 3rem;
    top: 3rem;

    @media (max-width: 48em) {
      left: 4rem;
      top: 4.8rem;
    }
  }

  // .case-item__headline

  &__headline {
    display: flex;
    flex-direction: column;
  }

  // .case-item__heading

  &__heading {
    @media (max-width: 48em) {
      font-weight: 600;
    }
  }

  // .case-item__subtitle

  &__subtitle {
    @media (max-width: 48em) {
      font-size: 3rem;
    }
  }

  // .case-item__image-wrap

  &__image-wrap {
    overflow: hidden;
    border-radius: 4rem;
    width: 100%;
    height: 40rem;
    transition: filter var(--p-tr);
    will-change: filter;

    @media (min-width: 48.01em) {
      height: 39.5rem;
      min-height: 300px;
    }
  }

  // .case-item__image

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
