.hamburger {
  position: relative;
  display: inline-flex;
  flex: 0 0 5.4rem;
  width: 5.4rem;
  height: 4.8rem;

  // .hamburger__el

  &__el {
    position: absolute;
    left: 0;
    border-radius: 0.6rem;
    width: 100%;
    height: 0.6rem;
    background-color: var(--c-quaternary);

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      bottom: 0;
    }
  }
}
