.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: calc(var(--p-zidx-secondary) + 1);
  display: flex;
  overflow: auto;
  padding-top: 6rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #634f97 6.29%, #161324 100%);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-110%);
  transition: opacity var(--p-tr), visibility var(--p-tr), transform var(--p-tr);

  // .menu__container

  &__container {
    display: flex;
    flex-direction: column;

    --container-offset: 4.3rem;
  }

  // .menu__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11.3rem;
    gap: 3.2rem;
  }

  // .menu__body

  &__body {
    margin-bottom: 21.8rem;

    .nav-item-header__txt {
      font-size: 3rem;
    }
  }

  // .menu__lower

  &__lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding-bottom: 12rem;
    row-gap: 5rem;
  }

  // .menu__logo-wrap

  &__logo-wrap {
    height: 17rem;
    transform: translateY(-2rem);
  }

  // .menu__logo

  &__logo {
  }

  // .menu__socials

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
}

._show-menu .menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
