.services-item {
  position: relative;
  overflow: hidden;
  border-radius: 6rem;

  // .services-item__inner

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 4.9rem;
    min-height: 47.3rem;
    color: var(--c-white);
    row-gap: 4rem;

    @media (max-width: 48em) {
      padding: 5rem;
      min-height: 56.4rem;
    }
  }

  // .services-item__subtitle

  &__subtitle,
  &__heading {
    max-width: 32.2rem;

    @media (max-width: 48em) {
      max-width: 64rem;
    }
  }

  // .services-item__heading

  &__heading.subtitle-medium {
    @media (max-width: 48em) {
      line-height: 123%;
    }
  }

  // .services-item__bg-wrap

  &__bg-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
  }

  // .services-item__bg

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
