.btn-txt {
  font-weight: 500;
}

.h {
  font-weight: 600;
  font-size: 4rem;
  line-height: 122%;

  @media (max-width: 48em) {
    font-size: 5rem;
    line-height: 129%;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 3rem;
  line-height: 143%;

  @media (max-width: 48em) {
    font-size: 4rem;
  }
}

.txt-small {
  font-size: 1.6rem;

  @media (max-width: 48em) {
    font-size: 3rem;
    line-height: 133%;
  }
}

.subtitle-small {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;

  @media (max-width: 48em) {
    font-size: 3rem;
  }
}
