<section class="hero">
  <div class="hero__container container">
    <div class="hero__logo-wrap">
      <img src="img/logo-2.svg" class="hero__logo hero__logo_d" alt="" />
      <img src="img/logo-2-m.svg" class="hero__logo hero__logo_m" alt="" />
    </div>

    <div class="hero__scroll-wrap">
      <div class="hero__scroll" aria-hidden="true">
        <svg class="hero__scroll-icon"><use href="#mouseRect-svg"></use></svg>
      </div>
    </div>
  </div>
  <div class="hero__bg" aria-hidden="true">
    <img src="img/content/hero-bg.webp" alt="" class="hero__bg-content" />
  </div>
</section>
