<section class="pricelist">
  <div data-stagger="0.1" class="pricelist__container container">
    <div class="pricelist__headline reveal fade-up">
      <p class="pricelist__subtitle subtitle-medium">Наши предложения</p>
      <h2 class="pricelist__heading h-m">Что мы умеем?</h2>
    </div>
    <!-- prettier-ignore -->
    @loop('./ui/pricelist-item.html', [
                {
                    "tag": "div",
                    "attr": "",
                    "cls": "pricelist__item reveal fade-up",
                    "heading": "Сайты",
                    "price": "от 50 000 ₽",
                    "sublist": [
                        {
                            "txt": "Каталоги"
                        },
                        {
                            "txt": "Интернет-магазины"
                        },
                        {
                            "txt": "Порталы"
                        },
                        {
                            "txt": "Коропоративные сайты"
                        },
                        {
                            "txt": "Сайты-визитки"
                        },
                        {
                            "txt": "Лединги"
                        }
                    ]
                },
                {
                    "tag": "div",
                    "attr": "",
                    "cls": "pricelist__item reveal fade-up",
                    "heading": "Приложения",
                    "price": "от 100 000 ₽",
                    "sublist": [
                        {
                            "txt": "Бренд-приложения"
                        },
                        {
                            "txt": "Интернет-магазины"
                        },
                        {
                            "txt": "Сервисные приложения"
                        },
                        {
                            "txt": "Доставка и логистика"
                        },
                        {
                            "txt": "Социальные чаты и сети"
                        },
                        {
                            "txt": "Утилиты и продуктивность"
                        }
                    ]
                },
                {
                    "tag": "div",
                    "attr": "",
                    "cls": "pricelist__item reveal fade-up",
                    "heading": "Платформы",
                    "price": "от 150 000 ₽",
                    "sublist": [
                        {
                            "txt": "Платежные системы"
                        },
                        {
                            "txt": "ПО"
                        },
                        {
                            "txt": "FrameWork"
                        },
                        {
                            "txt": "Банковские сервисы"
                        },
                        {
                            "txt": "Игровые приложения"
                        },
                        {
                            "txt": "Мультифункц-ые платформы"
                        }
                    ]
                },
                {
                    "tag": "div",
                    "attr": "",
                    "cls": "pricelist__item reveal fade-up",
                    "heading": "Печать",
                    "price": "от 30 000 ₽",
                    "sublist": [
                        {
                            "txt": "Презентации"
                        },
                        {
                            "txt": "Брендинг"
                        },
                        {
                            "txt": "Фирменный стиль"
                        },
                        {
                            "txt": "Логотипы"
                        },
                        {
                            "txt": "Сувенирная продукция"
                        },
                        {
                            "txt": "Digital презентации"
                        }
                    ]
                },
                {
                    "tag": "div",
                    "attr": "",
                    "cls": "pricelist__item reveal fade-up",
                    "heading": "Дополнительно",
                    "price": "от 30 000 ₽",
                    "sublist": [
                        {
                            "txt": "Реализация фото и видео"
                        },
                        {
                            "txt": "Написание текстов"
                        },
                        {
                            "txt": "Контроль верстки"
                        },
                        {
                            "txt": "Аналитика метрик"
                        },
                        {
                            "txt": "Разработка дизайн-системы"
                        },
                        {
                            "txt": "Глубинная аналитика"
                        }
                    ]
                },
            ])
  </div>
</section>
