.reveal {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, transform;
}

.reveal.fade-up {
  transform: translateY(2rem);
}

.reveal._visible {
  opacity: 1;
  transform: translateY(0);
}

.reveal.fade-in {
  opacity: 0;
}

.fade-up {
  transform: translateY(2rem);
}

[data-lenis-prevent] {
  overscroll-behavior: contain;
}
