/* stylelint-disable */
@font-face {
  font-family: "EuclidCircularA";
  src: url("../fonts/EuclidCircularA-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "EuclidCircularA";
  src: url("../fonts/EuclidCircularA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "EuclidCircularA";
  src: url("../fonts/EuclidCircularA-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "EuclidCircularA";
  src: url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "EuclidCircularA";
  src: url("../fonts/EuclidCircularA-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
