@use "vars";
@use "fonts";
@use "settings";
@use "ui";
@use "anim";
@use "vendor";
@use "common";
@use "./components/header";
@use "./components/footer";
@use "./components/hero";
@use "./components/cases";
@use "./components/cta";
@use "./components/services";
@use "./components/seo";
@use "./components/pricelist";
@use "./components/gift";
